src/main/docs/pricingservice_1.wsdl

<definitions name='PricingServiceBeanService' targetNamespace='http://pricing.services.redhat.com/' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://pricing.services.redhat.com/' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <xs:schema targetNamespace='http://pricing.services.redhat.com/' version='1.0' xmlns:tns='http://pricing.services.redhat.com/' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:element name='ServiceException' type='tns:ServiceException'/>
   <xs:element name='calculatePrice' type='tns:calculatePrice'/>
   <xs:element name='calculatePriceResponse' type='tns:calculatePriceResponse'/>
   <xs:complexType name='calculatePrice'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:string'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='arg1' type='tns:party'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='arg2' type='tns:pricingItem'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='party'>
    <xs:sequence>
     <xs:element minOccurs='0' name='accountNumber' type='xs:string'/>
     <xs:element minOccurs='0' name='name' type='xs:string'/>
     <xs:element minOccurs='0' name='type' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='pricingItem'>
    <xs:sequence>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='attributes' nillable='true' type='tns:attribute'/>
     <xs:element minOccurs='0' name='configSku' type='xs:string'/>
     <xs:element minOccurs='0' name='configSkuDescription' type='xs:string'/>
     <xs:element minOccurs='0' name='countryOfOrder' type='xs:string'/>
     <xs:element minOccurs='0' name='currencyCode' type='xs:string'/>
     <xs:element minOccurs='0' name='endDate' type='xs:dateTime'/>
     <xs:element minOccurs='0' name='headerId' type='xs:long'/>
     <xs:element minOccurs='0' name='instanceId' type='xs:string'/>
     <xs:element minOccurs='0' name='lineId' type='xs:long'/>
     <xs:element minOccurs='0' name='lineTypeCode' type='xs:string'/>
     <xs:element name='natDiscount' type='xs:boolean'/>
     <xs:element minOccurs='0' name='operatingUnitId' type='xs:string'/>
     <xs:element minOccurs='0' name='operatingUnitName' type='xs:string'/>
     <xs:element minOccurs='0' name='orderSource' type='xs:string'/>
     <xs:element minOccurs='0' name='percentPrice' type='xs:decimal'/>
     <xs:element minOccurs='0' name='priceListName' type='xs:string'/>
     <xs:element name='pricedQuantity' type='xs:int'/>
     <xs:element minOccurs='0' name='pricedUomCode' type='xs:string'/>
     <xs:element minOccurs='0' name='pricingContext' type='xs:string'/>
     <xs:element minOccurs='0' name='pricingEffectiveDate' type='xs:dateTime'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='qualifiers' nillable='true' type='tns:attribute'/>
     <xs:element minOccurs='0' name='quoteLineNumber' type='xs:string'/>
     <xs:element minOccurs='0' name='quoteNumber' type='xs:string'/>
     <xs:element minOccurs='0' name='salesRepEmail' type='xs:string'/>
     <xs:element name='serviceDuration' type='xs:int'/>
     <xs:element minOccurs='0' name='servicePeriod' type='xs:string'/>
     <xs:element minOccurs='0' name='sku' type='xs:string'/>
     <xs:element minOccurs='0' name='skuDescription' type='xs:string'/>
     <xs:element minOccurs='0' name='startDate' type='xs:dateTime'/>
     <xs:element minOccurs='0' name='statusCode' type='tns:statusCode'/>
     <xs:element minOccurs='0' name='statusMessage' type='xs:string'/>
     <xs:element minOccurs='0' name='superRegion' type='xs:string'/>
     <xs:element minOccurs='0' name='taxCode' type='xs:string'/>
     <xs:element minOccurs='0' name='unitListPrice' type='xs:decimal'/>
     <xs:element minOccurs='0' name='unitPrice' type='xs:decimal'/>
     <xs:element name='uomQuantity' type='xs:int'/>
     <xs:element minOccurs='0' name='webRenewalXrefSku' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='attribute'>
    <xs:sequence>
     <xs:element minOccurs='0' name='code' type='xs:string'/>
     <xs:element minOccurs='0' name='value' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='calculatePriceResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='tns:pricingResponse'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='pricingResponse'>
    <xs:sequence>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='parties' nillable='true' type='tns:party'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='pricingItems' nillable='true' type='tns:pricingItem'/>
     <xs:element minOccurs='0' name='status' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='ServiceException'>
    <xs:sequence>
     <xs:element minOccurs='0' name='message' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:simpleType name='statusCode'>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='success'/>
     <xs:enumeration value='error'/>
     <xs:enumeration value='unexpected_error'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:schema>
 </types>
 <message name='PricingServiceBean_calculatePriceResponse'>
  <part element='tns:calculatePriceResponse' name='calculatePriceResponse'></part>
 </message>
 <message name='ServiceException'>
  <part element='tns:ServiceException' name='ServiceException'></part>
 </message>
 <message name='PricingServiceBean_calculatePrice'>
  <part element='tns:calculatePrice' name='calculatePrice'></part>
 </message>
 <portType name='PricingServiceBean'>
  <operation name='calculatePrice' parameterOrder='calculatePrice'>
   <input message='tns:PricingServiceBean_calculatePrice'></input>
   <output message='tns:PricingServiceBean_calculatePriceResponse'></output>
   <fault message='tns:ServiceException' name='ServiceException'></fault>
  </operation>
 </portType>
 <binding name='PricingServiceBeanBinding' type='tns:PricingServiceBean'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='calculatePrice'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
   <fault name='ServiceException'>
    <soap:fault name='ServiceException' use='literal'/>
   </fault>
  </operation>
 </binding>
 <service name='PricingServiceBeanService'>
  <port binding='tns:PricingServiceBeanBinding' name='PricingServiceBeanPort'>
   <soap:address location='http://proxyjavavip.web.qa.ext.phx1.redhat.com/svcsoap/PricingService/1'/>
  </port>
 </service>
</definitions>